/* styles.css */

.grid {
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 575px;
  width: 575px;
  background-color: gray;
  box-shadow: 10px 10px;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

#title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: space-between;
}

button {
  margin: auto;
}

.colorPrompt {
}

.slider-value {
}
